<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.quickeel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/icon_quickeel"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Dashboard"></activity>
         <activity android:name=".Login"></activity>
          <activity android:name=".Register"></activity>
          
        
    </application>

</manifest>